<%- include ./../partials/main_nav.ejs %>
<!--
/*Nate Coolidge - 100749708*/ 
/*Jaime Gonzalez Sanz - 100839804*/ 
/*Caleb Fontaine - 100832588 */
/*Saief Shams Murad - 100836639 */
/*Haekang Song -100625189 */
-->

<main class="container">
<br>
<% for(let count=0; count < Postlist.length; count++) { %>
    <div data-aos="zoom-in" data-aos-easing="ease-in-out" class="aos-init aos-animate">
    <table class="table table-primary">
        <thead class="table-borderless"> 
            <tr>
                <th class="col-2 username" colspan="2"><img class="post_pfp" src='/Assets/images/<%=Postlist[count].pfp%>'>     Richard Astley</th> 
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="col-2 post_title"><%=Postlist[count].title%></th> 
                <th class="col-2 post_date"><%=Postlist[count].postDate%></th>
            </tr>
        </thead>
        <tbody class="table-light text-start">
            <tr>
                <td colspan="2 post_content"><%=Postlist[count].text_content%></td> 
            </tr>
        </tbody>
        <tbody class="table-light text-start">
            <tr>
                <td colspan="2"><img class="post_image" src='/Assets/images/userUploads/<%=Postlist[count].photo_content%>'></td> 
            </tr>
        </tbody>
        <tbody>
            <td class="col-1">
                <a href='#'  class="btn btn-success">
                <i class="fa-regular fa-heart"></i> Like <%= Postlist[count].likes%></i></a>
            </td>
            <td class="col-1">
                <a href='#'  class="btn btn-primary">
                <i class="fa-regular fa-comment-dots"></i> Comment</i></a>
            </td>
        </tbody>
        <tbody>
            
        </tbody>
    </table>
    </div>
<% } %>

</main>
<%- include ./../partials/footer.ejs %>