<%- include ./partials/main_nav.ejs %>
<div class = "error"> <!--Display error message inside error view-->
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
<%- include ./partials/footer.ejs %>
